@import "tailwindcss";
:root
{
  background-color: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  scroll-behavior: smooth;
}

.text-changer
{
  height: 62px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  font-weight: 500;
  font-size: 25px;
  box-sizing: content-box;
}
.roles-Container
{
  overflow: hidden;
  position:relative;
}
.role
{
  display: block;
  height: 100%;
  padding-left: 4px;
  animation: role-change 8s ease-in-out infinite; /* Added 'infinite' */
}
@keyframes role-change
{
  0%, 20%
  {
    transform: translateY(0%);
  }
  25%, 45%
  {
    transform: translateY(-100%);
  }
  50%, 70%
  {
    transform: translateY(-200%);
  }
  75%, 95%
  {
    transform: translateY(-300%);
  }
  100%
  {
    transform: translateY(-400%);
  }
}